node_modules
.DS_Store
*.local
.private
# Compiled JavaScript files

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.private/**/*.*
.firebase/**/*.*

dist/**/*.*
dist/

*.log
yarn.lock
.yarn/releases/yarn-1.22.18.cjs

.yarn/

.swc/


# Remix
/.cache

/build/*
/public/build


# Custom Build
/dist

# Tailwind
/app/styles/tailwind.css
/app/styles/app.
/packages/remix-app/build/

# Cypress
/cypress/videos
/cypress/screenshots

# Miniflare
/.mf
/.env

/spa-dist

/functions
/build.turbo

packages/img/lib/**
packages/img/img.node.d.ts
packages/img/img.node.d.ts.map
packages/img/img.node.js
packages/img/img.node.js.map
packages/img/img.pure.d.ts
packages/img/img.pure.d.ts.map
packages/img/img.pure.js
packages/img/img.pure.js.map
packages/img/img.react.d.ts
packages/img/img.react.d.ts.map
packages/img/img.react.js
packages/img/img.worker.d.ts
packages/img/img.worker.d.ts.map
packages/img/img.worker.js
packages/img/img.worker.js.map
packages/img/index-*.js
packages/img/index-*.js.map
packages/img/index-*.js
packages/img/index-*.js.map

