@tailwind base;
@tailwind components;
@tailwind utilities;
/* Image Plugin*/
.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Font Faces */
@font-face {
  font-family: 'acier-bat-gris';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/acier-bats-gris.woff2')  format('woff2'),
    url('../assets/fonts/865bf4c097d753be86221bb401a1b752e9c9ad50.woff') format('woff'),
    url('../assets/fonts/37bce4c2bc9f780e8c4cc39be2459ccb545575a5.otf') format('opentype');
}

@font-face {
  font-family: 'omnium';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/omnium-600.woff2') format('woff2'),
    url('../assets/fonts/c44ef17306cb53ef21b2fb6be463bbc47877b376.woff') format('woff'),
    url('../assets/fonts/6555af5e2f45314046b7c908143aa32ef7aac8cf.otf') format('opentype');
}

@font-face {
  font-family: 'omnium';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/omnium-800.woff2') format('woff2'),
    url('../assets/fonts/ca39c878785642c6a358e4665e76b056b0dc4a5e.woff') format('woff'),
    url('../assets/fonts/c6dd537daa4e15e8ca608e13f7fabcc7a2f743b2.otf') format('opentype');
}

@font-face {
  font-family: 'sauna-new';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/sauna-new.woff2') format('woff2'),
    url('../assets/fonts/8386fc94368c9949a2a9db37c9ae12df38cd5453.woff') format('woff'),
    url('../assets/fonts/bbc6937425027fd63b0065900f34b78d966be94f.otf') format('opentype');
}

@font-face {
  font-family: 'vag-rundschrift-d';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/vag-rundschrift-d.woff2') format('woff2'),
    url('../assets/fonts/2002ac3c4c5fcfbb2ac8cc64bf365562325bf4f3.woff') format('woff'),
    url('../assets/fonts/70acb4e22d50e022e3020450cbb263989ad1c7ee.otf') format('opentype');
}
