html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  background: url(./assets/background.webp);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
}
